@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.cursor__normal {
	@apply !h-10 !w-10 bg-transparent opacity-100 
    border-2 border-stone-400 ;
}
.cursor__large {
	@apply flex !h-28 !w-28 items-center justify-center 
    bg-white bg-opacity-10 border border-transparent  
    text-sm font-semibold backdrop-blur-lg;
}

.sticky__cursor {
	@apply !h-16 !w-16 bg-transparent opacity-100 
    border-2 border-yellow-400 ;
}

.sticky__cursor__bounds{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: all;
}

.sticky__cursor__bounds:hover{
  transform: scale(2);
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */